.rectwarning  {
    fill: red !important; 
  }

  svg {
    border: solid 1px orange;
  
  }
  
  svg:nth-child(1) {
    float: left;
  }
  
  
  .text {
    font-size: 15px;
    fill: blue;
  }
 
  .tick text {
    fill: red;
  }

  #map {
    width: 800px;
    height: 400px;
    }

  .bar {
      fill: orange;
  }

  


  